<p id="notice"><%= notice %></p>

<h1>Frees</h1>

<table>
  <thead>
    <tr>
      <th>Speaking</th>
      <th>Lesson</th>
      <th>Description</th>
      <th>Image url</th>
      <th>String</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @frees.each do |free| %>
      <tr>
        <td><%= free.speaking %></td>
        <td><%= free.lesson %></td>
        <td><%= free.description %></td>
        <td><%= free.image_url %></td>
        <td><%= free.string %></td>
        <td><%= link_to 'Show', free %></td>
        <td><%= link_to 'Edit', edit_free_path(free) %></td>
        <td><%= link_to 'Destroy', free, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Free', new_free_path %>
