<p id="notice"><%= notice %></p>

<p>
  <strong>Speaking:</strong>
  <%= @free.speaking %>
</p>

<p>
  <strong>Lesson:</strong>
  <%= @free.lesson %>
</p>

<p>
  <strong>Description:</strong>
  <%= @free.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @free.image_url %>
</p>

<p>
  <strong>String:</strong>
  <%= @free.string %>
</p>

<%= link_to 'Edit', edit_free_path(@free) %> |
<%= link_to 'Back', frees_path %>
