<p id="notice"><%= notice %></p>

<h2>Our Exclusive Guide to IELTS Success</h2>

<div id="container">
  <h2>Dan Carey and Calum Nicolson</h2>
  <!-- Contact -->
  <div data-stellar-background-ratio=".5"></div>
  <div class="container anchor" id="info">
    <div class="header-contact">
      <h3>Start Your Journey</h3>
    </div><!--end header div-->

      <div class="col-md-4">
         <%= image_tag("The_Complete_Guide_to_IELTS_Success.jpg", class: "img-responsive") %>" 
          <p><br><a class="btn btn-default" href="#" role="button">Equip Yourself With the Latest Publications &raquo;</a></p>
      </div>
      <div class="col-md-4">
          <%= image_tag("Cambridge_Vocab.jpg", class: "img-responsive") %>" 
          <p><br><a class="btn btn-default" href="#" role="button">Build Your Vocab &raquo;</a></p>  
      </div>        
      <div class="col-md-4">
          <%= image_tag("ielts_prep.jpg", class: "img-responsive") %>" 
          <p><br><a class="btn btn-default" href="#" role="button">Unlock the Secrets to the Exam &raquo;</a></p>

        <div class="damn-form">
          <form>
            <div class="form-group">
              <label for="name">*Your Name</label>
              <input type="text" class="form-control" id="name" required="required" title="(*)Name"placeholder="Enter Name">
            </div>

            <div class="form-group">
              <label for="email">*Your Email</label>
              <input type="email" class="form-control" id="email" required="required" title="(*)Email" placeholder="Enter Email">
              <label for="paragraph">Your Message</label>
              <textarea placeholder="Enter Message" style="resize:none" required='required' class="form-control" class="message-box" id="paragraph" cols="40" rows="5"></textarea>
              <br>
              <button type="submit" class="btn btn-success contact-submit" id="button">Submit</button>
              </div><!--end Damn-form-->

            </div>
          </form>
        </div><!--end grid div-->
      </div><!--end row div-->
    </div><!--end contactinfo div-->
  </div><!--end contact form div-->   
</div><!--end container div--> 



  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.image_url %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>


